.Header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    padding: 10px 20px;
    z-index: 1;
    box-shadow: 0 4px 6px -6px black;
    .logo{
        width: 50px;
        .logo-img{
            width: 100%;
        }
    }
    .notification-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .icons{
            color: #0e213f;
            font-size: 20px;
            margin-left: 25px;
            padding-right: 50px;
            padding-left: 30px;
            line-height: 1.5;
        }
        .form-control{
            margin-bottom: 0;
        }
        .form-group{
            width: 60%;
        }
        @media only screen and (max-width: 767px){
            width: 70%;
        }
        @media only screen and (min-width: 768px){
            width: 30%;
        }
    }
    .profile{
        width: 55px;
        border-radius: 50%;
        overflow: hidden;
        font-size: 0;
        cursor: pointer;
    }
}