.dashboard{
    height: 100%;
    border: 1px solid #757373;
    padding: 10px;
    
    textarea{
        width: 100%;
        border-radius: initial;
        height: 100%;
    }
    input{
        margin: 8px 0;
        @media only screen and (max-width: 767px){
            width: 100%;
        }
    }
    .input-wrap{
        border-bottom: 1px solid #757373;
        &:first-child{
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width: 767px){
                flex-direction: column;
            }
        }
    }
    .diary-content{
        margin-top: 8px;
        height: calc(100% - 100px);
        border: 1px solid #757373;
        @media only screen and (max-width: 767px){
            height: calc(100% - 140px);
        }
        >div{
            height: 100%;
            >div{
                &:first-child{
                    border-bottom: 1px solid #757373;
                    @media only screen and (max-width: 910px){
                        display: none;
                    }
                }
                &:nth-child(2){
                    @media only screen and (max-width: 910px){
                        height: 100%;
                    }
                    @media only screen and (min-width: 911px){
                        height: calc(100% - 78px);
                    }
                } 
            }
        }
    }
    .diary-rating{
        text-align: center;
        @media only screen and (min-width: 768px){
            margin-right: 100px;
        }
    }
}

.ProseMirror{
    p.empty-node{
        &:first-child{
            &::before{
                content: 'ENTER YOUR THOUGHTS\2026';
            }
        }
    }
} 